<%- include("partials/header") -%>

<form class="" action="/activities" method="post">
  <h1 class="centered-title">Looking for fun date ideas?</h1>
  <h3>Look no further!</h3>
  <button type="submit" class="activity-button" name="activity">Click for Instant Fun</button>
</form>

<img class="heart-img" src="images/heart.jpg" alt="">
<%- include("partials/footer") -%>
