<%- include("partials/header") -%>

<div class="margin-body">


  <h2 class="centered-title">You should...</h2>
  <h1><%= randomActivity %></h1>

  <form class="" action="/activities" method="post">
    <button type="submit" class="activity-button" name="activity">Let's Try Something Else!</button>
  </form>

</div>
<%- include("partials/footer") -%>
