<%- include("partials/header") -%>

<h2 class="centered-title">You should...</h2>
<h1><%= randomActivity %></h1>

<form class="" action="/activities-result" method="post">
  <button type="submit" class="activity-button" name="activity">Let's Try Something Else!</button>
</form>

<%- include("partials/footer") -%>
