<%- include("partials/header") -%>

<h2 class="centered-title">Coming Soon!</h2>
<h3>Preview <a href="https://docs.google.com/spreadsheets/d/1aqafMwUYoEzW7tdhXKSGDYxWOhB197_lX6N-YzMWlNc/edit?usp=sharing">Here</a></h3>

<%- include("partials/footer") -%>
