<%- include("partials/header") -%>

<div class="margin-body">
  <div class="header">
    <img id="header-img" src="images/header-logo.png" alt="AA Logo">
  </div>

  <div class="row">
    <div class="col-lg-2 col-sm-6">
      <a href="#">
        <img class="home-gallery" src="images/AA-joshua-tree.jpg" alt="">
        Gallery
      </a>

    </div>

    <div class="col-lg-2 col-sm-6">
      <a href="/activities">
        <img class="home-gallery" src="images/date.jpg" alt="">
        Activity Generator
      </a>
    </div>

    <div class="col-lg-2 col-sm-6">
      <a href="/porg">
        <img class="home-gallery" src="images/porg-cartoon.jpg" alt="">
        Porg Quiz
      </a>
    </div>

    <div class="col-lg-2 col-sm-6">
      <a href="#">
        <img class="home-gallery" src="images/clouds.jpg" alt="">
        Weather
      </a>
    </div>

    <div class="col-lg-2 col-sm-6">
      <a href="#">
        <img class="home-gallery" src="images/up-house.jpg" alt="">
        Adventure Book
      </a>
    </div>

    <div class="col-lg-2 col-sm-6">
      <a href="#">
        <img class="home-gallery" src="images/august.jpg" alt="">
        Advent Calendar
      </a>
    </div>

  </div>
</div>

<%- include("partials/footer") -%>
