<%- include("partials/header") -%>

<img src="images/porg-header.png" class="title-image" alt="">
<h2 class="quiz-title">What's Your Current Porg Mood?</h2>

<form class="" action="/porg" method="post">
  <div class="form-check">
    <h3>Which of these did you do most recently?</h3>
    <input class="form-check-input" type="radio" name="selection" value="wise" checked>
    <label class="form-check-label">
      Read a Book
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="selection" value="sleepy">
    <label class="form-check-label">
      Took a Nap
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="selection" value="hungry">
    <label class="form-check-label">
      Pecked at Food
    </label>
  </div>
  <button class="porg-button" type="submit" name="button">Tell My Porg-tune!</button>
</form>


<%- include("partials/footer") -%>
