<%- include("partials/header") -%>

<img src="images/porg-header.png" class="title-image" alt="">
<h2 class="quiz-title">What's Your Current Porg Mood?</h2>

<%- include("partials/footer") -%>

<%# Sexy Porg, Distressed Porg, Sad Porg, Curious Porg, Official Porg, Adorable Porg, Hungry Porg, Alarmed Porg, Happy Porg, Edible Porg, Affectionate Porg, Not a Porg, Porg in Disguise, Worthy Porg, Pie Porg, Existential Porg %>
