<%- include("partials/header") -%>

<img class="title-image weather-image" src="images/sunshine.png" alt="">

<h1>Feeling Bored?</h1>

<form action="/weather" method="post">
      <h3><label for="input">Check Current Weather Conditions!</label></h3>
  <input class="city" type="text" name="city" value="" placeholder="Enter a City Name">
  <button class="activity-button" type="submit" name="button">Give Me My Forecast</button>
</form>

<%- include("partials/footer") -%>
