/*Header Section*/

.navbar-custom {
  background-color: #B4E2DE;
}

.nav-link {
  color: white;
  margin: auto 1rem;
}

.nav-link:hover {
  color: #FAC0BE;
}

.header {
  margin-top: 8rem;
  margin-bottom: 5rem;
}

@media (max-width:990px) {
  .header {
    margin-top: 8rem;
    margin-bottom: 2rem;
  }
}

#header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

@media (min-width: 575px) and (max-width:990px) {
  #header-img {
    max-width: 80%;
  }
  }

  @media (max-width: 574px) {
    #header-img {
      max-width: 100%;
    }
    }

/*Body Section and Home Page*/

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

@media (max-width: 574px) {
  .home-body {
    margin: auto 50px;
  }
  }

h1 {
  color: #FAC0BE;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
}

h2 {
  color: #75C8D1;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
}

h3 {
  color: #88A5B3;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

h4 {
  color: #88A5B3;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 10px auto;
}

.margin-body {
    margin: auto 100px;
}

.home-gallery {
  max-width: 100%;
  margin: 10px 0;
}

@media (max-width: 574px) {
  .home-gallery {
    max-width: 80%;
    margin: 10px 20px;
  }
  }

.home-gallery:hover {
  opacity: 0.7;
}

a {
  color: #FAC0BE;
  font-weight: bold;
}

a:hover {
  color: #B4E2DE;
  text-decoration: none;
}

/*88A5B3 gray-blue*/
/*FAC0BE pink*/
/*B4E2DE light aqua*/
/*75C8D1 dark blue*/


/* Gallery Page */

.carousel-image {
  max-width: 30%;
}

@media (min-width: 575px) and (max-width:990px) {
  .carousel-image {
    max-width: 50%;
  }
  }

@media (max-width: 574px) {
  .carousel-image {
    max-width: 70%;
  }
  }

.carousel-control-prev {
  left: 30%;
}

@media (min-width: 575px) and (max-width:990px) {
  .carousel-control-prev {
    left:20%;
  }
  }

@media (max-width: 574px) {
  .carousel-control-prev {
    left:10%;
  }
  }

.carousel-control-next {
  right: 30%;
}

@media (min-width: 575px) and (max-width:990px) {
  .carousel-control-next {
    right: 20%;
  }
  }

@media (max-width: 574px) {
  .carousel-control-next {
    right:10%;
  }
  }

.more-link {
  margin-top: 80px;
}

.more-photos {
  color: #75C8D1;
  margin: 3rem auto;
}

.gallery {
  margin-right: 100px;
  margin-left: 100px;
}


/* .blue-section {
  background-color: #75C8D1;
  margin: 3rem auto;
} */

.white-section {
  background-color: white;
}

.images-heading-white {
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.images-heading-blue {
  color: #B4E2DE;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.gallery-row {
  max-height: 290px;
  overflow: hidden;
}

  @media (max-width: 990px) {
    .gallery-row {
    max-height: none;
    overflow: auto;

    }
    }

.gallery-image {
  max-height: 100%;
  object-fit: cover;
  width: 100%;
}

.gallery-image:hover {
  opacity: 0.7;
  transition: .7s ease;
}

.gallery-column {
  padding: 0;
  position: relative;
}

.gallery-column span {
  background: #FAC0BE;
  top: 15rem;
  left: 50%;
  opacity: 0;
  padding: 10px;
  position: absolute;
  width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate (-50%, -50%);
}

.gallery-column:hover span {
  opacity: 0.8;
  transition: .7s ease;
}

/* Activities Page */
.centered-title {
  margin-top: 14rem;
}

.activity-button {
  background-color: #75C8D1;
  border-color: #B4E2DE;
  border-radius: 15px;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 2rem;
  padding: 5px 10px;
}

.heart-img {
  max-width: 150px;
}

/* Porg Quiz Page */

.title-image {
  margin-top: 5rem;
  width: 20%;
}

@media (min-width: 575px) and (max-width:990px) {
  .title-image {
    width: 50%;
  }
  }

  @media (max-width: 574px) {
    .title-image {
      width: 100%;
    }
    }

.quiz-title {
  margin: 2rem 0 3rem;
}

.form-control {
  text-align: left;
}

.porg-button {
  background-color: #FAC0BE;
  border-color: #FFBCBA;
  border-radius: 15px;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 2rem;
  padding: 5px 10px;
}

.porg-image {
  max-width: 25%;
}

@media (min-width: 575px) and (max-width:990px) {
  .porg-image {
    max-width: 60%;
  }
  }

  @media (max-width: 574px) {
    .porg-image {
      max-width: 100%;
    }
    }

.porg-type {
  margin: 2rem 0 0;
}

/* Advent Calendar */

/* .calendar-background {
  background-image: url("../images/calendar-background.jpg");
  background-repeat: no-repeat;
  padding-top: 10rem;
  background-size: 100%;
} */

.centered-title-small {
  margin-top: 9rem;
}

.col-lg-4 {
  margin: 0 auto 3rem;
}

.calendar-month {
  font-size: 2rem;
}

.button-month-blue {
  background-color: #E1F5F3;
  border-color: #B4E2DE;
  padding: 15px;
}

.button-month-pink{
background-color: #FAE7E6;
border-color: #FAC0BE;
padding: 15px;
}

.calendar-modal {
  background-color: rgba(0,0,0,0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 1.2rem;
  width: 40%;
}

.close {
  color: #75C8D1;
  float: right;
  font-size: 2rem;
  font-weight: bold;
  opacity: 1;
}

.close:hover,
.close:focus {
  color: #B4E2DE;
  text-decoration: none;
  cursor: pointer;
}

/*Footer*/
.footer {
  background-color: #FAC0BE;
  bottom: 0;
  color: white;
  font-size: 0.7rem;
  margin: 5rem 0 0;
  left: 0;
  padding: 1rem 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.background-footer {
  margin: 0;
}
